/* Snow CSS */
.flake {
  background-color: #fff;
  border-radius: 100%;
  position: absolute;
  top: -10vh;
  padding: 1vw;
}
.flake:nth-child(1) {
  animation: snow 19s linear 40s infinite normal backwards;
  left: 79%;
  opacity: 0.71;
  padding: 0.11vw;
}
.flake:nth-child(2) {
  animation: snow 19s linear 10s infinite normal backwards;
  left: 57%;
  opacity: 1.1;
  padding: 0.34vw;
}
.flake:nth-child(3) {
  animation: snow 14s linear 15s infinite normal backwards;
  left: 5%;
  opacity: 0.82;
  padding: 0.12vw;
}
.flake:nth-child(4) {
  animation: snow 14s linear 30s infinite normal backwards;
  left: 95%;
  opacity: 0.32;
  padding: 0.28vw;
}
.flake:nth-child(5) {
  animation: snow 12s linear 8s infinite normal backwards;
  left: 54%;
  opacity: 0.48;
  padding: 0.41vw;
}
.flake:nth-child(6) {
  animation: snow 16s linear 30s infinite normal backwards;
  left: 20%;
  opacity: 0.64;
  padding: 0.28vw;
}
.flake:nth-child(7) {
  animation: snow 12s linear 36s infinite normal backwards;
  left: 20%;
  opacity: 0.28;
  padding: 0.34vw;
}
.flake:nth-child(8) {
  animation: snow 13s linear 3s infinite normal backwards;
  left: 62%;
  opacity: 0.55;
  padding: 0.14vw;
}
.flake:nth-child(9) {
  animation: snow 18s linear 44s infinite normal backwards;
  left: 65%;
  opacity: 0.6;
  padding: 0.32vw;
}
.flake:nth-child(10) {
  animation: snow 16s linear 32s infinite normal backwards;
  left: 90%;
  opacity: 0.55;
  padding: 0.18vw;
}
@keyframes snow {
  4% {
    transform: translate(0.4vw, 4vh);
  }
  8% {
    transform: translate(-0.2vw, 8vh);
  }
  12% {
    transform: translate(0.4vw, 12vh);
  }
  16% {
    transform: translate(0.4vw, 16vh);
  }
  20% {
    transform: translate(-0.4vw, 20vh);
  }
  24% {
    transform: translate(0.4vw, 24vh);
  }
  28% {
    transform: translate(-0.2vw, 28vh);
  }
  32% {
    transform: translate(0.4vw, 32vh);
  }
  36% {
    transform: translate(0.4vw, 36vh);
  }
  40% {
    transform: translate(-0.4vw, 40vh);
  }
  44% {
    transform: translate(0.4vw, 44vh);
  }
  48% {
    transform: translate(-0.2vw, 48vh);
  }
  52% {
    transform: translate(0.4vw, 52vh);
  }
  56% {
    transform: translate(0.4vw, 56vh);
  }
  60% {
    transform: translate(-0.4vw, 60vh);
  }
  64% {
    transform: translate(0.4vw, 64vh);
  }
  68% {
    transform: translate(-0.2vw, 68vh);
  }
  72% {
    transform: translate(0.4vw, 72vh);
  }
  76% {
    transform: translate(0.4vw, 76vh);
  }
  80% {
    transform: translate(-0.4vw, 80vh);
  }
  84% {
    transform: translate(0.4vw, 84vh);
  }
  88% {
    transform: translate(-0.2vw, 88vh);
  }
  92% {
    transform: translate(0.4vw, 92vh);
  }
  96% {
    transform: translate(0.4vw, 96vh);
  }
  100% {
    transform: translate(-0.4vw, 100vh);
  }
  100% {
    opacity: 0;
  }
}

/* Snow HTML */
/*
<div class='snow-flakes'> <div class='flake'></div><div class='flake'></div><div class='flake'></div><div class='flake'></div><div class='flake'></div><div class='flake'></div><div class='flake'></div><div class='flake'></div><div class='flake'></div><div class='flake'></div><div class='flake'></div><div class='flake'></div><div class='flake'></div><div class='flake'></div><div class='flake'></div><div class='flake'></div><div class='flake'></div><div class='flake'></div><div class='flake'></div><div class='flake'></div><div class='flake'></div><div class='flake'></div><div class='flake'></div><div class='flake'></div><div class='flake'></div><div class='flake'></div><div class='flake'></div><div class='flake'></div><div class='flake'></div><div class='flake'></div><div class='flake'></div><div class='flake'></div><div class='flake'></div><div class='flake'></div><div class='flake'></div><div class='flake'></div><div class='flake'></div><div class='flake'></div><div class='flake'></div><div class='flake'></div><div class='flake'></div><div class='flake'></div><div class='flake'></div><div class='flake'></div><div class='flake'></div><div class='flake'></div><div class='flake'></div><div class='flake'></div><div class='flake'></div><div class='flake'></div><div class='flake'></div><div class='flake'></div><div class='flake'></div><div class='flake'></div><div class='flake'></div><div class='flake'></div><div class='flake'></div><div class='flake'></div><div class='flake'></div><div class='flake'></div><div class='flake'></div><div class='flake'></div><div class='flake'></div><div class='flake'></div><div class='flake'></div><div class='flake'></div><div class='flake'></div><div class='flake'></div><div class='flake'></div><div class='flake'></div><div class='flake'></div><div class='flake'></div><div class='flake'></div><div class='flake'></div><div class='flake'></div><div class='flake'></div><div class='flake'></div><div class='flake'></div><div class='flake'></div><div class='flake'></div><div class='flake'></div><div class='flake'></div><div class='flake'></div><div class='flake'></div><div class='flake'></div><div class='flake'></div><div class='flake'></div><div class='flake'></div><div class='flake'></div><div class='flake'></div><div class='flake'></div><div class='flake'></div><div class='flake'></div><div class='flake'></div><div class='flake'></div><div class='flake'></div><div class='flake'></div><div class='flake'></div><div class='flake'></div><div class='flake'></div><div class='flake'></div><div class='flake'></div><div class='flake'></div><div class='flake'></div><div class='flake'></div><div class='flake'></div><div class='flake'></div><div class='flake'></div><div class='flake'></div><div class='flake'></div><div class='flake'></div><div class='flake'></div><div class='flake'></div><div class='flake'></div><div class='flake'></div><div class='flake'></div><div class='flake'></div><div class='flake'></div><div class='flake'></div><div class='flake'></div><div class='flake'></div><div class='flake'></div><div class='flake'></div><div class='flake'></div><div class='flake'></div><div class='flake'></div><div class='flake'></div><div class='flake'></div><div class='flake'></div><div class='flake'></div><div class='flake'></div><div class='flake'></div><div class='flake'></div><div class='flake'></div><div class='flake'></div><div class='flake'></div><div class='flake'></div><div class='flake'></div><div class='flake'></div><div class='flake'></div><div class='flake'></div><div class='flake'></div><div class='flake'></div><div class='flake'></div><div class='flake'></div><div class='flake'></div><div class='flake'></div><div class='flake'></div><div class='flake'></div><div class='flake'></div></div>
*/
